[2019-10-17 07:23] ruben-herold opened #4 "Please add centos 8 support"
hi

it would be nice to have centos 8 support and a package repo for the distributions.

[2019-10-17 08:09] ruben-herold opened #5 "Please fix install documentation"
The install documentation just not work, the submodule source is not checkedout and can only checkout be a user with the credentials for your account cause the url is:

url = git@github.com:RIPE-NCC/ripe-atlas-probe-busybox.git

better would be https://github.com/RIPE-NCC/ripe-atlas-probe-busybox.git

[2019-10-17 08:14] ruben-herold opened #6 "Won't build on centos 8 caused by libevent"
hi,

I fixed the spec file localy and checked out the submodule and try to build. I get the error:

`bufferevent_openssl.c:`` In function 'bio_bufferevent_new':
bufferevent_openssl.c:106:3: error: dereferencing pointer to incomplete type 'BIO' {aka 'struct bio_st'}
  b->init = 0;
   ^~
bufferevent_openssl.c: At top level:
bufferevent_openssl.c:228:1: error: variable 'methods_bufferevent' has initi

[2019-10-17 15:42] ja-pa commented on #6
I looks that with changes from https://github.com/libevent/libevent/commit/3e9e0a0d46e4508e8782ec3787c6d86bab63046d build successfully passes

[2019-10-18 08:09] PhilipHomburg commented on #6
I noticed this as well when trying to get the software probe to run on debian 9 and 10.

Moving to a newer libevent solves the issue. However, there are some atlas specific patches to libevent. I will add those when I have time.

[2019-10-21 07:31] PhilipHomburg commented on #5
I fixed the URL of the submodule.

[2019-10-21 07:31] #5 closed

[2019-10-21 09:28] ruben-herold commented on #5
Also you shout mention in the INSTALL.rst that the submodules are needed to build.

[2019-10-23 09:43] swapneelp opened #8 "swprobe SSH public key missing"
The directory /var/atlas-probe/etc is missing.

`[root@ad43ce819c3b ~]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)`

`[root@ad43ce819c3b ~]# rpm -qa | grep atlas
ripe-atlas-repo-1-2.el7.noarch
atlasswprobe-5000-2.el7.x86_64`

`[root@ad43ce819c3b atlas-probe]# ls -al
total 40
drwxr-xr-x 7 atlas atlas 4096 Oct 23 09:29 .
drwxr-xr-x 1 root  root  4096 Oct 23 09:29 ..
-rw-r--r-- 1 at

[2019-10-23 09:52] PhilipHomburg commented on #8
Does 'systemctl | grep atlas' give '  atlas.service                                                                            loaded active running   Atlas Probe'?

To debug, edit '/usr/local/atlas/bin/ATLAS' and uncomment the two lines '#exec >/tmp/ATLAS.out 2>/tmp/ATLAS.err' and '#set -x' and restart atlas.

[2019-10-23 10:13] swapneelp commented on #8
Hey @PhilipHomburg! Thanks for looking into this. I forgot to mention that I was testing this inside a Docker container.

atlas.service wasn't loaded. By starting the container in privileged mode, the service loads and the /var/atlas-probe/etc directory exists along with private & public keys.

Submitted an application for the probe with the details.

[2019-10-23 12:04] swapneelp commented on #8
@PhilipHomburg Would you know by any chance, how much time it takes for the software probe to start showing up on the probe page ? I got the confirmation email that the software probe has been created. Probe ID 1000008

[2019-10-23 12:17] PhilipHomburg commented on #8
It takes some time for the ssh public key to propagate in our system. However, by the time you get the email it is usually in place.

A good place to look is /var/atlas-probe/status/ssh_err.txt
That file often has a good hint why the probe does not connect.

[2019-10-23 12:47] swapneelp commented on #8
@PhilipHomburg Thanks for pointing me in the right direction !  Since the docker image is bare, it lacked openssh-clients package which is required.

I now see the probe page[https://atlas.ripe.net/probes/1000008/](url)

Data is not showing yet, in the ssh_err.txt,

`[root@13ca77140d49 status]# cat ssh_err.txt
RSA host key for IP address '178.63.8.31' not in list of known hosts.
bind: Cannot assig

[2019-10-23 12:56] PhilipHomburg commented on #8
I'll add openssh-clients to the dependencies of the RPM.

Note that the atlas measurement code needs quite a few ports to be open, as well as raw socket capabilities.

[2019-10-23 13:12] swapneelp commented on #8
@PhilipHomburg Thanks !

The CentOS 7 image is without a firewall and is running in privileged mode which should give it full access to running services and binding ports.

I think the only possibility which remains is, the software-probe is trying to bind to a port which may already be taken on the host. Do you have a list of ports which I can verify against ?

[2019-10-24 03:16] Knight1 commented on #8
You have some more to do.

Are you in the Mailinglist? I just sent a mail with code and instructions.

@PhilipHomburg at this time ```openssh-clients iproute sysvinit-tools net-tools``` are needed

[2019-10-25 06:36] Knight1 opened #9 "IPv6 only is not registering"
[code]

I had to manually edit reg_servers.sh so that it only includes one IPv6 Entry.
The special thing is that the system has a public IPv4 address. But the Atlas software should retry it with other reg systems imho.

We should implement a for loop here https://github.com/RIPE-NCC/ripe-atlas-software-probe/blob/439ea1bbadea5a48bbf1a2f43e198106632c7ced/bin/reginit.sh#L152 or a connectivity check

[2019-10-28 22:03] Knight1 commented on #9
Any intention to speed that up?
Otherwise any PR would not make any sense :)

[2019-10-29 08:57] PhilipHomburg commented on #9
No. Probes are meant to be running 24x7. The few minutes it takes to connect after a reboot are lost in the noise.

[2019-10-31 01:16] Knight1 opened #10 "eperd is outputting it's data into /dev/null"
According to https://labs.ripe.net/Members/philip_homburg/ripe-atlas-measurements-source-code eperd's -O switch is "Name of output file"

But the official software is not creating the user atlas nor outputting any error.

```/usr/local/atlas/bb-13.3/bin/eperd -c /var/atlas-probe/crons/7 -A 9807 -P /var/atlas-probe/run/perd-7.pid.vol -O /home/atlas/data/new/7 -i 7```

But all the probes are reporti

[2019-10-31 08:51] #10 closed

[2019-10-31 13:12] PhilipHomburg commented on #6
I updated libevent to 2.1.11 and added support for CentOS 8

[2019-10-31 13:12] #6 closed

[2019-10-31 13:13] PhilipHomburg commented on #4
CentOS 8 suport is pushed. It is not clear when we will add a CentOS 8 repo.

[2019-10-31 13:13] #4 closed

[2019-10-31 13:14] PhilipHomburg commented on #8
I added openssh-clients iproute sysvinit-tools net-tools and requirements. sysvinit-tools doesn't exist on CentOS 8.

[2019-10-31 13:14] #8 closed

[2019-10-31 13:14] #9 closed

[2019-11-17 04:00] Knight1 opened #19 "Requirements List"
I think we should make a List of needed commands for the Software to function properly.

We have to make sure that there are no missing commands inside each OS. There are already differences between RedHat 7 and 8. Now we have Debian support as well but afaik with no minimum OS and no Dependencies.

Any ideas how to solve that problem?

For Example: fakeroot ist needed under Debian @ rpi

[2019-11-21 16:02] Ideafix0 opened #21 "Needed dependency for deb"
Adding openssl-devel to:
 ```apt update && apt install git tar fakeroot libssl-dev autoconf automake libtool build-essential```
so it looks something like:
 ```apt update && apt install git tar fakeroot openssl-devel libssl-dev autoconf automake libtool build-essential```
in file:
INSTALL.rst
to be able to install in Ubuntu

[2019-11-22 15:05] Ideafix0 opened #22 "issues related to cross compiling for yocto"
We need to be able to pass the --host parameter into "configure" through "make-deb", so we can make a yocto recipe.

 A simple fix would be to change, in file make-deb:

./configure

to

./configure $@

[2019-11-22 15:38] PhilipHomburg commented on #22
Feel free to add an option to the script to do what you want.

[2019-11-22 15:40] PhilipHomburg commented on #22
Note that if it is probe-busybox that doesn't compile, then we first need to fix it in that repo (https://github.com/RIPE-NCC/ripe-atlas-probe-busybox)

[2019-11-29 11:40] f-andrey opened #23 "busybox upstream?"
What are the reasons for using a fork https://github.com/RIPE-NCC/ripe-atlas-probe-busybox
Why not use the mainstream?

[2019-11-29 12:05] PhilipHomburg commented on #23
The fork contains the Atlas measurement code. In the early days of the V1 and V2 probes we had to use a single busybox otherwise we would run out of memory.

There is a bit of a plan to remove all of the busybox code and end up with a repo that only contains Atlas code. But no work has been done on that.

[2020-02-13 12:19] ghane opened #26 "On Linux, i686 is not supported"
autoconf succeeds.

The machine is a uptodate debian box, but 32-bit.

[code]

[2020-02-14 09:53] xtaran commented on #21
There is no `openssl-devel` package on neither Debian nor Ubuntu. `-devel` sounds more like a package name suffix typical for the RPM world. The Debian equivalent of it is `libssl-dev` which is already in there.

[2020-02-16 02:41] netravnen opened #27 "Feature Request: for every tagged release, provide pre-compiled binaries of atlasswprobe"
## Feature Request

Provide downloadable installer files when a new release is tagged

_I.e. when a release is tagged for a git commit, upload pre-compiled `.deb` and/or `.rpm` files available on [RIPE-NCC/ripe-atlas-software-probe/releases](/RIPE-NCC/ripe-atlas-software-probe/releases)_ _(e.g. release [5010](/RIPE-NCC/ripe-atlas-software-probe/releases/tag/v5010))_

[2020-02-16 16:48] netravnen commented on #27
[atlasswprobe-5010-1-amd64.deb.zip](https://github.com/RIPE-NCC/ripe-atlas-software-probe/files/4210267/atlasswprobe-5010-1-amd64.deb.zip)

[2020-02-16 17:32] Knight1 commented on #27
You mean like this? https://github.com/Knight1/ripe-atlas_packages-test/releases

I don't think so. They made clear that they only provide the Software and CentOS Tools.

[2020-02-16 20:15] netravnen commented on #27
Yep.

[2020-02-17 09:47] PhilipHomburg commented on #21
I'll close this issue. It is not clear to me which version of Ubuntu would need openssl-devel in addition to libssl-dev.

[2020-02-17 09:47] #21 closed

[2020-02-17 10:46] PhilipHomburg commented on #26
This should be fixed now in v5010.2 (ca43f32cc68e31fb6227cee06221d73b2fd16f58)

[2020-02-17 10:46] #26 closed

[2020-02-17 10:47] #23 closed

[2020-02-27 08:13] Tuffiglig opened #29 "Unsupported architecture armv6l"
Hey.
First thanks for the great job!

It would be nice, if it is possible to check the architecture in
"ripe-atlas-software-probe/build-config/debian/bin/make-deb" at the beginning of the file.
Tried it first on an old Raspberry Pi 1 Mod. B (ARMv6)
and it ended with "Unsupported architecture armv6l" after a long time of compiling (for nothing).

Thanks,
Tuffi

[2020-02-27 17:57] Tuffiglig commented on #29
I added to the file `make-deb`:
After
`armv7l)
        ARCH=armhf
;;`
i added this
`armv6l)
        ARCH=armhf
;;`
on my "Raspberry Pi 1 Mod. B - ARMv6 (32 Bit) / 512 MB RAM",
and it compiled successful the file atlasswprobe-5010-2.deb
after installing it, everything seems to work good.
https://atlas.ripe.net/probes/1000251/

Sorry. Don't know how to make a new line in the code brackets to make it

[2020-03-05 15:05] PhilipHomburg commented on #29
I just released v5010.3 where I added armv6l and added a check for the architecture at the beginning.

[2020-03-05 15:05] #29 closed

[2020-03-14 22:52] stv0g opened #30 "Limit SSH keylength to 2048 bit"
When installing the probe on Fedora 31, it defaults to a 4096 bit RSA SSH key.
This keylength however, is rejected by the application website.

Shall we change the invocation of `ssh-keygen` to `ssh-keygen -b 2048` ?

[2020-03-14 22:54] stv0g commented on #30
Same happens with CentOS 8..

[2020-03-14 22:56] stv0g commented on #30
Sorry, seems to be duplicate of #28. However, I still encounter the issue on a fresh install..

[2020-05-03 13:49] stv0g commented on #30
@PhilipHomburg there now seem to be a release for CentOS 8 in 5020.

I am wondering how this can work without my PR. Is there nobody else experiencing the issue?

Has be maximum key length been increased on the server side?

[2020-05-04 18:54] robert-kisteleki commented on #30
5020 was indeed released a few days ago and it's also available for CentOS 8.

Somewhat related, we updated the server side software to accept RSA 2k-4k keys as well as ECDSA and ED25519 keys. So strictly speaking limitig RSA keys to 2 kbits is no longer needed.

[2020-05-04 19:58] stv0g commented on #30
Thanks for the update. In this case this issue and the related PR become obsolete.

[2020-05-04 19:58] #30 closed

[2020-05-10 22:48] virgiliomi opened #32 "Interface for traffic statistics was not the same as interface for connectivity"
I set up a clean install of CentOS 8 last week and installed the package, then created the config.txt file to send the RX/TX data. The graph started showing data, but everything was 0.

I found out today that statistics for an unused virtual bridge (virbr0) were being sent rather than the interface that the network connection was on (enp0s20f0). While the virtual bridge did have an RFC1918 IP addr

[2020-05-12 08:20] PhilipHomburg commented on #32
We have some plans to make it possible to select the interface manually. However we don't have a specific plan how or when to do that.

However, I'm curious why the automatic system failed. If you are willing to share the probe ID then I can take a look in our logs to see what is going on.

[2020-05-12 09:43] virgiliomi commented on #32
Probe ID is 1000495. I actually did another clean CentOS install Sunday night just after posting that, this time console only... so hopefully the logs go back far enough.

[2020-05-12 09:55] PhilipHomburg commented on #32
I checked the log for your probe on May 6. The weird thing is that all traffic counters are zero except for the loopback interface (lo). In particular enp0s20f3, which I assume is the 'real' interface. I don't know what can cause that. I can take a look if that is unique to CentOS 8.

[2020-05-12 10:47] virgiliomi commented on #32
Actually, enp0s20f0 should be the active interface. enp0s20f1 through 3 are other physical interfaces that aren’t being used. The only other interface that was “UP” was virbr0, so I assumed that is what was being used, since TX/RX data started appearing after removing that interface.

[2020-05-12 11:30] PhilipHomburg commented on #32
Ah, I see what is going on. The default route is on enp0s20f0 but the traffic stats are for enp0s20f3 and some virtual interfaces. I'll try to find out why enp0s20f0 is not reported.

[2020-05-12 11:33] PhilipHomburg commented on #32
I see the problem. The code is never changed from hardware probes and only reports the first 4 interfaces (to avoid accidents). How many interfaces do you have in total?

[2020-05-12 14:22] virgiliomi commented on #32
Well, now I have lo and the four physical interfaces... before I also had the virtual bridge that was part of gnome-boxes.

————
Sent via Outlook<https://aka.ms/qtex0l> from my mobile device
________________________________
From: PhilipHomburg <notifications@github.com>
Sent: Tuesday, May 12, 2020 7:33:45 AM
To: RIPE-NCC/ripe-atlas-software-probe <ripe-atlas-software-probe@noreply.github.com>
Cc:

[2020-05-14 12:35] swapneelp opened #33 "Checklist to troubleshoot probe (registered) but not created"
Hello! I had shared this on atlas-sw-probes mailing list, sharing this here as well. I've registered a software probe successfully on Ubuntu 16.04.4 LTS but it hasn't been created it yet. Usually, this is done in 10-15 minutes.

The machine is behind a pfSense firewall which as far as I can tell isn't blocking any requests. Can you share a troubleshooting checklist which I can try to see where the

[2020-05-15 04:09] Knight1 commented on #33
In the state directory are some log and error files :)

[2020-05-20 13:14] Hypopheralcus opened #34 "Wrong Local Address"
The Local Address uses the wrong interface. I have setup an Rapsberry Pi and play a little bit with wireguard after bringing up the Wireguard Interface the Probe #1000506 shows the IP form the wg0. Although the interface has no active link. Only a static IP. Currently there are 3 Interfaces.

1: lo:
2: wlan0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1

[2020-05-20 15:03] PhilipHomburg commented on #34
Yes, that's something that can be done of the Atlas backend software. Currently it picks something like the first interface that is not lo. This can be improved by taking default routes into account

[2020-05-21 19:29] mkowalski opened #35 "RPM package requires sysvinit-tools"
[code]
The error above is being shown when trying to install the software probe from `https://ftp.ripe.net/ripe/atlas/software-probe/centos7` repo. Given that CentOS 7 is shipped with systemd, not with sysvinit, the requirement should be loosened.

Currently the workaround to install the package is to manually install it using `rpm` as below

[code]

[2020-05-22 08:16] PhilipHomburg commented on #35
I don't think the current code works without systemd. I.e, there are only systemd unit files to start the atlas probe.

We cannot support every possible configuration. Certainly not non-default configurations of platforms that we do support.

However, if anyone has patches then I look into merging them.

[2020-05-22 08:46] mkowalski commented on #35
I think you are mixing things in here, sysvinit *is not* systemd. A default configuration on CentOS 7 *does not* provide sysvinit.

To make it clear - the current package is not installing on a clean, default CentOS 7.

[2020-05-22 08:48] Jamesits commented on #35
Plus the current code do work without systemd. I've been using it without a systemd for a long time.

[2020-05-22 09:09] PhilipHomburg commented on #35
The rpm require sysvinit-tools. This is mostly unrelated to the sysvinit system. I have quite a few VMs that run centos7 with the atlasprobe package. Are you sure you are not running centos8?

Good to here that is works with sysvinit on centos. I wonder how that works though. Does syvinit on centos understand systemd unit files?

[2020-05-22 09:13] Jamesits commented on #35
In fact you don't need any special init system to make it work. Just launch the atlas executable in any way you want and it will work fine.

[2020-05-22 09:20] PhilipHomburg commented on #35
In my book if you need to mount tmpfs manually and start atlas manually then it is not a complete package. I can't list that as 'works'.

[2020-05-30 23:00] chriselsen commented on #32
Running into the same issue: The probe doesn't show traffic stats on the "general" tab, but connects without issues to the controller and also has a couple of UDMs running.
But in my case I only have eth0 and lo. Therefore I wouldn't expect any issue.
Probe ID is: 1000566

[2020-06-01 21:23] mato opened #38 "SW probe broken on upgrade to Turris OS 5.0"
Hi,

I upgraded a Turris Omnia from OS 4.0.5 to OS 5.0.0 and my SW probe [broke](https://forum.turris.cz/t/turris-os-5-0-0-is-released-in-hbt/12733/149?u=mato). I had to apply c6efd4a1abb55301833acb7836ec9ec0be23b445 plus the following:

[code]

... to get things working.

Also, Turris needs the patches to disable buddyinfo, otherwise there's a ton of errors in the logs from that as well.

/cc @BK

[2020-06-02 09:57] PhilipHomburg commented on #32
Probe 1000566 doesn't seem to submit traffic statistics. See the README on how to enable them.

[2020-06-02 15:27] PhilipHomburg commented on #38
I applied your patch and pushed it to the devel branch. Note that I have no control over when cz.nic people pick up a new release of the software probe code. However, the previous version should work, despite the diagnostics.

[2020-06-03 08:08] mato commented on #38
Thanks. I'm discussing with the Turris folks, suggest we keep this open until it's resolved on their side. Will you be releasing a formal new version with https://github.com/RIPE-NCC/ripe-atlas-software-probe/commit/0d30e89d691df4022d47d9aed7f3c5e9c7521529?

[2020-06-04 14:54] mato commented on #38
So, Turris OS 5.0.0 was released today with version 5020 of `atlas-sw-probe`. On reboot into the new version, my probe went offline and appeared to be looping on:

[code]

I manually appled https://github.com/RIPE-NCC/ripe-atlas-software-probe/commit/0d30e89d691df4022d47d9aed7f3c5e9c7521529 to `/usr/libexec/atlas-probe-scripts/bin/reginit.sh` on the router and re-started the probe, but it still se

[2020-06-04 15:03] BKPepe commented on #38
Could be related to the [issue](https://www.ripe.net/ripe/mail/archives/atlas-sw-probes/2020-June/000061.html), which me and @ja-pa observed as well based on your report and we described it in the mailing list.

[2020-06-04 18:48] mato commented on #38
Seems to have successfully registered now, took some hours:

[code]

[2020-06-04 20:22] BKPepe commented on #38
I'm thinking if it wouldn't be better to provide @mato's probe id to @PhilipHomburg even by using a private message. Maybe there is something happening on the server-side?

[2020-06-04 20:47] mato commented on #38
On Thursday, 04.06.2020 at 13:23, Josef Schlehofer wrote:

@PhilipHomburg Yeah, there's definitely something weird going on, likely
server-side. If you want the probe id, contact me at
<firstname>@<lastname>.net.

[2020-06-08 10:31] BKPepe commented on #38
Based on @PhilipHomburg email in the mailing list for atlas-sw-probes. This can be closed.

[2020-06-08 12:42] mato commented on #38
My probe seems to be working fine, so yes, I'll close this issue. For reference, here's the acknowledgement of server-side issues related to software probe connectivity: https://www.ripe.net/ripe/mail/archives/atlas-sw-probes/2020-June/000065.html

[2020-06-08 12:42] #38 closed

[2020-06-08 20:25] chriselsen opened #40 "RSA host key for IP address '..' not in list of known hosts"
My probe (ID: 1000597) is unable to connect to the controller.
The error message in /var/atlas-probe/status/ssh_err.txt states "RSA host key for IP address '2a01:4f8:110:40b2::2' not in list of known hosts."
That IPv6 address corresponds to the host ctr-fsn01.atlas.ripe.net.
There is an entry for that host in /var/atlas-probe/.ssh/known_hosts.

How does the probe receive an updated known_hosts lis

[2020-06-09 10:30] PhilipHomburg commented on #40
This probe is connected. The error message is a harmless diagnostic from ssh. I don't know how to suppress that.

[2020-06-09 10:30] #40 closed

[2020-06-15 17:47] chriselsen commented on #32
I'm still experiencing weird behavior here: I enabled traffic stats according to the README on another probe (ID: 1000597). It worked for a few days, but then started showing 0 constantly.

[2020-06-16 12:39] PhilipHomburg commented on #32
The current code submits statics for at most 4 interfaces. I have a patch to change that, but I don't know yet when it will be released

[2020-06-16 15:07] chriselsen commented on #32
Keep in mind that the probe (ID: 1000597) mentioned above only has 2x interfaces. One of them being lo. Another probe (ID: 1000612) that is setup pretty much the same way has no issues whatsoever.

[2020-06-16 15:14] PhilipHomburg commented on #32
Probe 1000597 reports statistics for gretap0, gre0, sit0, and lo.

[2020-06-16 15:18] chriselsen commented on #32
That is interesting and weird and is probably worth another look. Probe 1000597 runs inside a docker container and should therefore only see eth0 and lo.
Can I see within the probe's filesystem which interfaces it sees?

[2020-06-16 15:21] PhilipHomburg commented on #32
The probe tries to report the contents of /proc/net/dev.

[2020-06-16 15:26] chriselsen commented on #32
That helps a lot and brings me a step closer: As mentioned probe 1000597 and probe 1000612 were setup the same way and both run inside a docker container. For some reason looking at /proc/net/dev, I can see the interface ordered as gretap0, gre0, sit0, lo, erspan0, eth0. On the 1000612 probe it's eth0, lo, erspan0, gretap0, sit0, gre0.
For probe 1000597 I mode the container to a different docker b

[2020-06-19 09:54] FlohEinstein commented on #32
Found somewhere that you can influence the order of /proc/net/dev by changing the order of how the modules are loaded in /etc/modules. I tried that, and it really had an influence, but the interface I need the probe to report about (pppoe) is still really far down in the file, below all veth, lan, br and so on.
So please @PhilipHomburg , bring on your patch, so I don't spend days to patch the OS t

[2020-06-19 14:57] PhilipHomburg commented on #32
I just pushed 5020-2 to the devel branch. It links to a newer version of the measurement code which should fix the traffic statistics issue

[2020-06-20 14:58] FlohEinstein commented on #32
Great, thank you! I just installed it, let's see if I get any stats.
No change in /etc/config/atlas needed I presume?
According to syslog, it's taking a closer look at a veth-interface :-/
My probe is 1000287

[2020-06-21 14:45] FlohEinstein commented on #32
OK, I checked @PhilipHomburg s patch - it can't fix the problem since rxtxrpt.c is part of busybox and still only returns the values for the first four lines of /proc/net/dev. So I did something nasty:
/usr/libexec/atlas-probe/bin/rxtxrpt is a soft link to ./busybox
I replaced it with the following shell script:

`#!/bin/ash
busyboxrxtxrpt=`/usr/libexec/atlas-probe/bin/busybox rxtxrpt -A 9002 | se

[2020-06-22 07:40] PhilipHomburg commented on #32
Probe 1000287 runs version 2.2.0 of the 'busybox' code. The fixed version in the devel branch is 2.2.2.

[2020-07-17 19:02] ak370 opened #41 "non-fatal error during compilation on current raspbian on Raspberry Pi Model B Rev 1"
GEN     findutils/Config.in
  HOSTCC  scripts/basic/fixdep
  HOSTCC  scripts/basic/split-include
  HOSTCC  scripts/basic/docproc
  HOSTCC  scripts/kconfig/conf.o
  HOSTCC  scripts/kconfig/kxgettext.o
  HOSTCC  scripts/kconfig/mconf.o
  SHIPPED scripts/kconfig/zconf.tab.c
  SHIPPED scripts/kconfig/lex.zconf.c
  SHIPPED scripts/kconfig/zconf.hash.c
  HOSTCC  scripts/kconfig/zconf.tab.o
In file inclu

[2020-07-17 19:14] ak370 commented on #41
Actually closing due it likely being not an issue.

[2020-07-17 19:14] #41 closed

[2020-07-17 20:56] ak370 opened #42 "couple dpkg install errors"
Hi, I got around the below, but you might want to fix those?

root@raspberrypi:/home/ripeatlas# dpkg -i atlasswprobe-5020-1.deb
Selecting previously unselected package atlasswprobe.
(Reading database ... 49796 files and directories currently installed.)
Preparing to unpack atlasswprobe-5020-1.deb ...
Unpacking atlasswprobe (5020-1) ...
Setting up atlasswprobe (5020-1) ...
ripeatlas:x:1001:1001:,,,

[2020-07-20 10:05] ties opened #44 "Systemd unit file does not restrict the service"
As a systems administrator I appreciate it when a systemd unit locks down the privileges its daemon have in order to reduce the attack surface.

It is not clear to me what the probe actually needs, but a separate `/tmp` and `/home` mount as well as not reading devices would likely work? A snippet from another daemon on my machine:
[code]

[2020-07-20 10:08] PhilipHomburg commented on #44
Feel free to come up with a patch

[2020-07-31 03:43] virgiliomi opened #45 "Software probes only connect to one controller?"
So, for the first time ever I got an email that my probe had been offline for a long period of time. So I started looking into why, and it appears that the controller that my probe normally connects to is offline.

So my next move is to see why it isn't connecting to other controllers... I know there are other controllers out there, as the built-in tests list at least 5 others. So I find a file in

[2020-08-03 10:14] PhilipHomburg commented on #45
This is not an ideal place to discuss how atlas works. It would be better to use the atlas mailing list (https://lists.ripe.net/mailman/listinfo/ripe-atlas). In any case, we have 2 controllers for software probes. Those controllers are kept separate from controllers for hardware probes. We placed both controllers at Hetzner and unfortunately Hetzner seem to have some issues recently (or at least m

[2020-08-03 10:20] virgiliomi commented on #45
No worries then... I just thought this was something specific to software probes, so this might be the best place for it. Since it appears that you keep separate controllers for software probes vs hardware probes, I'll direct any further questions to the list, but that gives me enough info for now.

[2020-08-03 10:20] #45 closed

[2020-08-20 08:23] crazyuploader opened #47 "Error while trying to build from source on WSL2"
`OS: Windows 10 Pro (Ubuntu on WSL2)`

While trying to build from source, it threw me this as an error, attaching screenshot below. Please let me know if it's even possible to build on WSL2 altogether, or I am missing something out.

![image](https://user-images.githubusercontent.com/49350241/90739321-3f470680-e2ec-11ea-857a-06b1afe30553.png)

[2020-08-25 07:50] dominix opened #48 "do not build on ubuntu/Focal"
linker stage fail because off an error: undefined reference to `stime'

[code]

[2020-08-25 08:16] PhilipHomburg commented on #48
Cloud you please try the devel branch?

[2020-08-25 18:34] lehha opened #49 "rptaddrs segfault"
Probe runned at Docker, and have segfault in /var/log/messages:

Aug 25 18:30:44 srv kernel: rptaddrs[17146]: segfault at 7fff8c115075 ip 00007fdf56454820 sp 00007fff8c113f88 error 4 in libc-2.28.so[7fdf5631a000+148000]
Aug 25 19:36:52 srv kernel: rptaddrs[17633]: segfault at 7ffe3db0d015 ip 00007f83ac166820 sp 00007ffe3db0bf28 error 4 in libc-2.28.so[7f83ac02c000+148000]
Aug 25 20:49:03 srv kerne

[2020-08-26 10:00] PhilipHomburg commented on #47
please try the devel branch

[2020-08-26 10:21] PhilipHomburg commented on #49
Can you run something like the following command and capture the output?

strace -s 8000 /usr/local/atlas/bb-13.3/bin/rptaddrs -c /home/atlas/data/new/ripadddrs-cache

[2020-08-26 14:23] lehha commented on #49
There are no strace in docker image. If run without it:
rptaddrs: error writing to /': Success

![изображение](https://user-images.githubusercontent.com/4051362/91315834-d0bce980-e7c0-11ea-8e5c-a9c21261abe0.png)

[2020-08-26 17:00] PhilipHomburg commented on #49
That is certainly a bug, but not the one you triggered originally. Maybe you can find an strace for your docker container and run that?

[2020-08-26 17:03] crazyuploader commented on #47
Sorry to mention that, but it didn't work either ;)

[2020-08-26 19:04] PhilipHomburg commented on #47
Ah, correct. The devel branch needs to be updated. It seems that I never updated the probe-busybox submodule.

[2020-08-27 07:28] lehha commented on #49
Segfault does not occur immediately, approximately every 20-40 minutes. Strace need to run once or run before the Segfault appears?

[2020-08-27 09:25] PhilipHomburg commented on #47
I just pushed an undate to the devel branch. Could you please try again

[2020-08-27 09:58] dominix commented on #48
cd src/GIT
rm -rf ripe-atlas-software-probe/
git clone --single-branch --recursive --branch devel https://github.com/RIPE-NCC/ripe-atlas-software-probe
./ripe-atlas-software-probe/build-config/debian/bin/make-deb

BUILD OK

[2020-08-27 10:01] PhilipHomburg commented on #48
Great

[2020-08-27 10:01] #48 closed

[2020-08-27 10:32] PhilipHomburg commented on #49
Best is to capture the one with the segfault

[2020-08-27 12:37] crazyuploader commented on #47
Alright lemme try

[2020-08-27 14:00] crazyuploader commented on #47
Sadly, it still fails.... One more thing, is `python` a requirement?

![image](https://user-images.githubusercontent.com/49350241/91451937-9bd19500-e89b-11ea-8445-6b03db4c33ff.png)

[2020-08-27 16:15] crazyuploader commented on #47
Tried installing `bionic 18.04` but turns out since the system isn't booted with `systemd`, we can't install it

[code]

[2020-08-27 17:03] PhilipHomburg commented on #47
I don't understand the error you get. The current version in the devel branch refers to 2.3.0 of the probe-busybox, where date no longer calls stime.

Currently the software probe only works with systemd. However, patches to make it work for sysv are welcome.

[2020-09-08 13:34] netravnen commented on #27
[INSTALL.rst](https://github.com/RIPE-NCC/ripe-atlas-software-probe/blob/83ef3de9ce007be9a1533a36e84af9c7b8bbcc48/INSTALL.rst)

Is there a public discussion about why this is a problem atm. ?

Somewhere publicly would be prefered.

[2020-09-12 05:05] crazyuploader opened #50 "Not able to see system traffic on software probes"
I'm not able to see traffic history on my software probe, is there any settings I'm missing?

![Screenshot_20200912-103428_Chrome (1)](https://user-images.githubusercontent.com/49350241/92987817-a9199100-f4e3-11ea-8efd-369161fdce47.jpg)

[2020-09-12 12:22] robert-kisteleki commented on #50
You need to opt in to traffic level reporting. Please take a look at https://github.com/RIPE-NCC/ripe-atlas-software-probe#runtime-configuration-options

[2020-09-13 16:13] crazyuploader commented on #50
Worked great, thanks!

[2020-09-13 16:13] #50 closed

[2020-09-27 09:54] adrianmace opened #51 "date.c:(.text.date_main+0x2b6): undefined reference to `stime'"
![image](https://user-images.githubusercontent.com/5071859/94361921-155ade00-00fb-11eb-85fa-3941c2b6481e.png)

Seems to be occurring on both `master` and `devel` as of today's commits.

Ubuntu 20.04 LTS.

[2020-09-28 09:07] phicoh commented on #51
Please check the git commit in probe-busybox. It should be 1c80e1953a5794660d39c731d0fdac77f34aed9b, which is version where stime is removed.

[2020-09-28 09:42] snh commented on #51
@phicoh https://github.com/RIPE-NCC/ripe-atlas-probe-busybox/commit/fb8bc976a326f894b16e859124dd27e865fd3ccc appears to be the current tip of `master` (the default branch), with only `devel` containing https://github.com/RIPE-NCC/ripe-atlas-probe-busybox/commit/1c80e1953a5794660d39c731d0fdac77f34aed9b.

Is this going to move to `master` soon so that this will be picked up automatically?

[2020-09-28 09:47] phicoh commented on #51
The problem is that when we do a release, we sign the centos binaries (and the firmware for the hardware probes). Due to corona, nobody is going to the office to do the signing. And the changes are not really big enough. Though I understand that the current situation is annoying for people running ubuntu. I have to see if we can do a release that is just source code.

[2020-10-26 02:58] menghoumenghou commented on #49
I tried to run the strace command but apparently it was not installed in the container.
However I found the path for the file used in the strace command is actually not in /home/atlas/data/new/, instead it is in /var/atlas-probe/data/new.
Also I could not see ripaddrs-cache file in this directory, I can only see below files:
![image](https://user-images.githubusercontent.com/20235458/97129518-0c9d

[2020-10-26 10:01] PhilipHomburg commented on #49
Ah, that's right the path on software probes is different. In any case, please install strace in the container

[2020-10-26 10:03] Jamesits commented on #49
@menghoumenghou You can use the following command to install `strace` in the container if you are using my container:

[code]

[2020-10-26 11:26] menghoumenghou commented on #49
@Jamesits @PhilipHomburg
Thank you, I have got the strace output below, please see if it helps.

[strace.log](https://github.com/RIPE-NCC/ripe-atlas-software-probe/files/5438459/strace.log)

[2020-10-26 17:02] PhilipHomburg commented on #49
There was no filename after the -c option. So probably something like this is needed:

mkdir -p /home/atlas/data/new
strace -s 8000 /usr/local/atlas/bb-13.3/bin/rptaddrs -c /home/atlas/data/new/ripadddrs-cache

[2020-10-27 08:39] menghoumenghou commented on #49
@PhilipHomburg
Here you go, I have got both the output of strace and the generated file under /home/atlas/data/new

[ripadddrs-cache.new.log](https://github.com/RIPE-NCC/ripe-atlas-software-probe/files/5443953/ripadddrs-cache.new.log)
[straceoutput.txt](https://github.com/RIPE-NCC/ripe-atlas-software-probe/files/5443954/straceoutput.txt)

you may need to remove the .log suffix of ripadddrs-cache.n

[2020-10-27 13:32] PhilipHomburg commented on #49
It turned out the bug was due to lack of IPv6. On a normal linux install that never happens, so there were two tiny mistakes in the code that got triggered. I don't know why people are building new software without IPv6. Certainly for Atlas it is really bad to have docker images that only have IPv4.

In any case, I fixed the bugs and push a new version to the devel branch.

[2020-10-28 01:08] menghoumenghou commented on #49
Thanks, I tried to enable IPv6 in docker and assigned a site local IPv6 address block FD00::/80 for docker to assign to containers.
Right after I did those the segfault is gone and the report feature resumes to work.

This works for me as my ISP doesn't assign IPv6 address block to me but for people who already got IPv6 addresses I believe there are better resolutions.

[2020-10-28 18:33] aveao commented on #49
I can confirm that the changes made to ripe-atlas-probe-busybox fixes this. I've built the `devel` branch of probe-busybox when deploying a probe, and that fixed the segfaults. FWIW, this was running under raspbian lite on a rpi0 on a legacy IPv4-only network.

[2020-10-28 19:52] PhilipHomburg commented on #49
I assume that the previous version also worked fine on raspbian. In general, linux distributions have at least an IPv6 address even if the network IPv4-only. It is only docker containers that absolutely no IPv6 at all.

[2020-10-28 19:59] aveao commented on #49
Ah, that might explain it.

In my case [the machine in question](https://twitter.com/warnvod/status/1321499561182040064) only has a ppp connection (created by NetworkManager when connecting to Internet through a USB modem) and a wireguard connection, and neither of them have IPv6 addresses.

![](https://elixi.re/i/l2zvzrsp.png)

That explains why this worked over wifi but failed when I moved it to

[2020-10-28 20:03] PhilipHomburg commented on #49
That's interesting. I wonder why those interfaces don't have IPv6 link local. Maybe because ppp can explictly configure only IPv4.

Though your loopback interface has ::1/128.

In any case, it is good that the bug is fixed.

[2020-12-12 00:14] schoen opened #56 "Building package on Ubuntu 18.04 installs but doesn't work on Ubuntu 20.04"
Hi,

I built a deb package for the software probe during the deployathon a couple of weeks ago, and then installed the resulting deb package, on a VPS, but it failed to register successfully after that. Digging into this today, I found that the main loop shell script was running successfully, but it couldn't *do* anything because the Busybox applications had a dynamic linking error. The result is

[2020-12-12 14:20] alaunay commented on #34
I'm also having trouble with this... It runs on a server on which the first not lo interface has an rc1918 ip address, but a correct ipv6 address (eth0); and a fourth interface in a vlan that has the correct ipv4 address (eth0.832). Probe ID 1001346 . The Probe address discovery gives nothing for ipv4, only a connection address for ipv6, and no ip echo service or local IP. I tried running the last

[2020-12-14 10:44] PhilipHomburg commented on #34
It seems that your probe is not doing any work, it also doesn't report it's IP addresses. Maybe you can check if there is anything interesting in log files or in /var/atlas-probe/data

[2020-12-14 12:04] PhilipHomburg commented on #56
I don't know enough about building debian packages to fix this. In theory there should a depenency on a particular version of openssl.

[2020-12-14 12:47] alaunay commented on #34
There is stuff in  /var/atlas-probe/data:

ls
new  oneoff  out

# ls new/
main  ooq.0  ooq.1  ooq.2  ooq.3  ooq.4  ooq.5	ooq.6  ooq.8  reboot-count.old	simpleping  v6addr.txt	v6addr.vol

# ls out/
(lots of 7.276* files like this:
-rw-r--r-- 1 atlas nogroup 11799 déc.  14 13:46 7.26799166
-rw-r--r-- 1 atlas nogroup  1137 déc.  14 13:47 7.26799167

plus
-rw-r--r-- 1 atlas nogroup    57 déc.  12 23:4

[2020-12-14 14:06] PhilipHomburg commented on #34
Ssh would be useful. Maybe we should take it to email. My email address is <phomburg@ripe.net>

[2021-01-03 22:02] yoursunny opened #57 "Run software probe in a Docker container"
I figured out how to run the software probe inside a Docker container.
I'm posting the procedure here in case it's useful for others.

1. Build the container image with this Dockerfile:

[code]

    Build command is:

[code]

2. Start the container with this command:

[code]

3. View public key with this command:

[code]

The probe connects, and can automatically reconnect using the same SSH key a

[2021-03-02 13:38] uiblogit commented on #42
Same here:
root@Rasp4B-srv1:/home/pi# dpkg -i atlasswprobe-5020-1.deb
(Reading database ... 118202 files and directories currently installed.)
Preparing to unpack atlasswprobe-5020-1.deb ...
rm: cannot remove '/var/atlas-probe/.ssh': No such file or directory
rm: cannot remove '/var/atlas-probe/bin': No such file or directory
rm: cannot remove '/var/atlas-probe/crons': No such file or directory
rm

[2021-03-05 07:27] uiblogit commented on #42
any solution?

[2021-03-05 10:08] fiergna commented on #32
i have the same issue.

i run the probe inside a docker on unraid. using this docker container https://github.com/Jamesits/docker-ripe-atlas
RXTXRTP is set to yes

my /proc/net/dev shows: Io, tun10, gre0, gretap0, erspan0, ip_vti0, sit0, eth0.
eth0 is at the bottom and there is traffic going on.

probe id: 1001653

[2021-03-13 17:04] h289072 commented on #51
So is there a workaround? I've deliberately upgraded to ubuntu 20.04 before installing the software probe.

[2021-03-13 17:41] h289072 commented on #51
Ah ok... checking out 142acd3673051769debd8fd7261b121fb7b4f609 will do it

[2021-04-09 02:23] yoursunny commented on #57
Command to build a container from RPM packages:

[code]

[2021-06-19 06:48] afshin2020 opened #59 "R"

[2021-09-16 13:38] #22 closed

[2021-09-16 13:40] PhilipHomburg commented on #32
The version in master now references a busybox version that has the increased number of interfaces.

[2021-09-16 13:40] #32 closed

[2021-09-16 13:42] PhilipHomburg commented on #34
Doesn't seem to be an issue with this repo

[2021-09-16 13:42] #34 closed

[2021-09-16 14:07] #35 closed

[2021-09-16 14:07] #42 closed

[2021-09-16 14:08] #44 closed

[2021-09-16 14:14] PhilipHomburg commented on #47
Master now refers to a version of busybox without calls to stime.

[2021-09-16 14:14] #47 closed

[2021-09-16 14:15] PhilipHomburg commented on #49
Master now refers to a busybox version that has this fixed.

[2021-09-16 14:15] #49 closed

[2021-09-16 14:16] PhilipHomburg commented on #51
Fixed in master

[2021-09-16 14:16] #51 closed

[2021-09-16 16:20] alaunay commented on #34
The problem was that the tcp port 8080 was already used by something else. By changing the port for the other app, ripe atlas ran perfectly.

[2021-09-16 20:01] PhilipHomburg commented on #34
Ah. I have some code to make this port configurable. I'll take a look what is needed to finish it.

[2021-09-21 13:53] ishanjain28 opened #61 "Probe is submitting metrics but on dashboard it's marked offline"
I had to update the image and restart it earlier today. Since then, It _appears_ to be submitting metrics about the probe but the probe is marked offline.

The logs don't give out a lot of hint why is this happening.
![image](https://user-images.githubusercontent.com/7921368/134183358-5fa623f0-5db2-4b0f-a020-4dad7e5841b0.png)

<details>
<summary> Logs from the Probe </summary>

[code]
</details>

[2021-09-22 14:52] PhilipHomburg commented on #61
Is there any chance you are running two probes with the same key material? Your probe is kept out of the system because it connects too often.

[2021-09-24 15:33] ishanjain28 commented on #61
Hi @PhilipHomburg, I was using two different keys but you are right that was the problem. According to someone on the mailing list, It's kicked out by the controller if it tries to reconnect more than 10 times/hour.

I just left it offline for a few hours and started it again and now it works fine. I didn't see your reply earlier, Sorry about that.

This issue is resolved now so I'll close. Thank

[2021-09-24 15:33] #61 closed

[2021-11-15 14:08] alexdelprete opened #62 "if_inet6 not enabled causes errors"
Hi,

I was having an issue with my probe on a Raspberry Pi 4B: no traffic data was sent.

I checked syslog and found out that when capturing traffica data from local interfaces, it was ok for LAN interface but then it queried interface `if_inet6` that didn't exist because ipv6 was disabled, so the script threw an error and no data was sent.

This error should be prevented by checking which interfa

[2021-11-15 15:07] PhilipHomburg commented on #62
It looks like some old code is left behind in rxtxrpt. I'll take a look if it is safe to remove. Note that this is actually about the ripe-atlas-probe-busybox repo.

[2021-11-15 17:23] alexdelprete commented on #62
Sorry for that, I read `ripe-atlas-software-probe` and thought it was for any software version of the probe.

Which one is the repo for software probe for RPi/debian?

[2021-11-15 17:26] PhilipHomburg commented on #62
The repo consists of two parts. This one is the top level repo that contains the build scripts (for debian and centos) and the shell scripts for the probe. This repo refers to https://github.com/RIPE-NCC/ripe-atlas-probe-busybox for the actual measurement code and statistics.

[2021-11-15 17:32] alexdelprete commented on #62
So where should I have opened the issue?

[2021-11-15 17:35] PhilipHomburg commented on #62
The busybox repo would have been better.

[2021-11-15 18:53] #62 closed

[2022-01-04 16:41] Zeik0s commented on #27
@netravnen i've created an automated workflow for building the sw probe with github actions.

Currently the files are only stored as artifacts, i still need to figure out how i can add them as release in my fork.
But i would be happy if someone would try the built packages. I built them for Debian x64, aarch64 and armv7 (armhf).

Currently i also don't have a mechanism, that creates a release when

[2022-01-26 13:07] aidvu opened #64 "Software probe not reporting traffic"
Hey there,

I ran a software probe before on my Turis Omnia router, on firmware 5020. It wasn't reporting any traffic then either, but at least the graph was showing the dates and no traffic.

I bought an OpenWRT (21.02.1) compatible router yesterday. Here's the probe: https://atlas.ripe.net/probes/1003553/. The probe is working well, but no traffic has been reported yet. Running firmware 5040. Si

[2022-01-26 13:48] PhilipHomburg commented on #64
There should be no to create /home/atlas. Your problem is a backend problem. I'll try to have it fixed.

[2022-01-26 13:50] aidvu commented on #64
I guess you meant to say `no need`. Removing the folders anyway, since it didn't fix anything.

Highly appreciated.

[2022-01-26 14:23] PhilipHomburg commented on #64
That's good question. Basically what we do is report statistics of all interfaces and the routing table. Then we assume that we need the statistics of interfaces that have a default route.

If it works correctly, any additional down stream interfaces will be ignored. Of course we can't tell the difference between traffic generated by the probe and other sources of traffic.

[2022-01-26 14:27] aidvu commented on #64
Guessed this much based on the debug logs. Thanks for confirming.
[code]

Makes sense. I'll use this one as a dedicated software probe then.

Feel free to ping if you need any additional info from me.

[2022-01-27 13:51] PhilipHomburg commented on #64
Your issue with the traffic statistics should be fixed.

[2022-01-27 13:53] aidvu commented on #64
Seems to be working now.

I'm curious, what was the problem? Is there a way to avoid it? I can see the `measurement_id` switched from 1001 to 9002.

[2022-01-27 13:57] PhilipHomburg commented on #64
We have limits on the size of measurement results. In your case, the size of the traffic statistics exceeded the limit. The fix was to increase the limit.

I don't know where the 1001 is coming from, that's a ping to k.root-servers.net. The traffic statistics is indeed measurement 9002.

[2022-01-27 14:05] aidvu commented on #64
I don't know where the 1001 is coming from, that's a ping to k.root-servers.net. The traffic statistics is indeed measurement 9002.

Ah, I see. Most likely because it was installed on a router which was an AP point. Would've been way over whatever the limits are for a probe.

Anyway, using this one as a dedicated probe. Thanks for the help. Closing issue.

[2022-01-27 14:05] #64 closed

[2022-05-16 14:46] robert-scheck opened #67 "Dependency on deprecated net-tools for CentOS?"
Is there a specific reason that there is a dependency on the [deprecated](https://unix.stackexchange.com/questions/677763/why-is-net-tools-deprecated-can-i-still-use-it-without-security-issue) net-tools package for the RPM on CentOS? [Red Hat states the same](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/8.4_release_notes/deprecated_functionality#deprecated-function

[2022-05-19 13:16] robert-scheck opened #68 "Purpose of %post section in atlasswprobe.spec.in?"
As of writing, https://github.com/RIPE-NCC/ripe-atlas-software-probe/blob/master/build-config/centos/spec/atlasswprobe.spec.in has a quite large `%post` section, but why? Normally the creation of directories should haben in `%install` and the created directories with its permissions (if different from default) should be catched via `%files` section. Does the current way of different handling have

[2022-05-29 08:57] fawaf opened #69 "support allowing different probe ports"
per the readme note (https://github.com/RIPE-NCC/ripe-atlas-software-probe/blob/master/README.rst#note):

add configuration option that supports changing the internal port.

[2022-05-30 09:13] michel-stam commented on #69
Hi Fawaf,

Can you tell me what services you use that overlap with these ports currently?

Is this both 2023 and 8080 or only one of them?

Regards,

Michel

[2022-05-30 09:15] michel-stam commented on #68
Hi Robert,

Were currently looking at the spec files critically and will take your comment along. Thanks for mentioning!

Regards,

Michel

[2022-05-30 09:15] #68 closed

[2022-05-30 10:45] gmeyerRIPE commented on #67
Hi @[robert-scheck](https://github.com/robert-scheck) thanks for bringing this up. We are currently in the process of migrating support to Centos stream. Our team will provide updates as they become available!

[2022-05-31 05:54] fawaf commented on #69
@michel-stam splunk is the one i'm using. i changed the port that splunk uses, but i'm guessing other services also use port 8080 as well.

port 2023 is fine.

[2022-05-31 08:03] michel-stam commented on #69
Hi Fawaf,

Thanks for letting me know. I'll make a note of it in the ticketing system. Thanks!

Regards,

Michel

[2022-05-31 08:06] #69 closed

[2022-06-28 09:49] Tuffiglig opened #70 "firmware 5070"
Hey.
I saw here:
https://atlas.ripe.net/resources/announcements/
that firmware version 5070 is out.
But in this repo it is still version 5040.

Tuffi

[2022-07-12 07:47] michel-stam commented on #70
Hi Tuffi,

Sorry about that, we were reorganising the repository to facilitate automatic building of releases. Because of that, we kept back from pushing our internal repository to the GitHub page. We'll be pushing it shortly.

Regards,

Michel

[2022-07-27 08:57] #56 closed

[2022-07-27 08:57] #33 closed

[2022-07-27 09:00] michel-stam commented on #56
Hey guys,

Since this has been open since December 2020 I will close this issue for now.

We are currently working on refactoring the packaging for the software probe, which should make it easier to integrate various Linux flavours.

I agree with the above that it is most likely a dependency on a version of OpenSSL.

[2022-07-27 09:01] michel-stam commented on #33
Hi @swapneelp,

Given the age of the ticket, I hope your issue has been resolved and I will be closing the ticket. If I am wrong, please reopen it and I will help you.

Regards,

Michel

[2022-07-27 09:03] michel-stam commented on #19
Hi @Knight1

Is this still a problem for you? I see this issue has not been looked at for a very long time.

Regards,

Michel

[2022-07-28 13:35] kotenok2000 opened #72 "Will rhel9 rpm be released?"

[2022-08-12 04:51] fiergna commented on #70
Any updates on this case?

[2022-08-24 22:09] Zeik0s commented on #70
If you don't want to wait i have created some releases for v5060 from the `devel` branch: [releases](https://github.com/Zeik0s/ripe-atlas-software-probe/releases/tag/v5060 )

[2022-09-05 10:49] michel-stam commented on #70
Hi @fiergna,

We're testing the 5080 release right now. With the holidays it has taken a bit longer than we would have wanted, sorry about that.

We will release it for internal testing hopefully this week, then start looking at a production release next week or the week after (depending if the testing progresses according to plan).

Thanks for bearing with us.

Regards,

Michel

[2022-09-27 12:08] vincegre opened #73 "How to activate bandwith probes ?"
Hi

Reading the presentation on RIPE website it looks like some additional probes can be activated in the probe itself but I can't find any mention about how to do that on github repo :( How is it possible ?

Thanks

Vincèn

[2022-10-04 15:50] Ansuel opened #74 "SIGSEGV to perd on openwrt mt7621"
I'm running a probe with openwrt mt7621 and I notice lots of these error. Wonder if you are interested in these crash.
Fell free to ask any question/help on debugging this.

[code]

[2022-10-05 08:26] michel-stam commented on #74
Hi Ansuel,

Thanks for letting us know. Do you have any idea what measurement the unit was running at the time of the segfault?

Is it consistent or intermittent?

Regards,

Michel

[2022-10-05 08:27] michel-stam commented on #70
hi @fiergna ,

5080 is being released, I am working with a colleague to push the repo to GitHub sometime this week.

Regards

Michel

[2022-10-05 08:56] michel-stam commented on #73
Hi Vincen

I'm not sure what you would like to know about activating probes in the probes. From the title I assume you mean bandwidth reporting. This can be activated by adding the line:
RXTXRPT=yes

to /var/atlas-probe/state/config.txt

then restart atlas (systemctl restart ATLAS).

Please let me know if this is what you mean. If not, can you point out the presentation to me?

Regards,

Michel

[2022-10-05 18:04] Ansuel commented on #74
I got this everytime i restart the atlas bins, so i can repro this easily. Also I notice sometime this gets triggered but not in normal testing, if you want I can provide my probe id if that can be useful.

[2022-10-12 09:51] michel-stam commented on #74
Hi @Ansuel,

Can you check what the memory usage is for this system?

Also, I have noticed various other references to OpenWRT and processes segfaulting in this manner. What release of OpenWRT are you on?

Regards,

Michel

[2022-10-12 12:41] Ansuel commented on #74
@michel-stam Hi normally there is plenty of space... for example for my router running for 3 days with atlas tools i have 350mb of free ram.

I normally run everything on master `OpenWrt SNAPSHOT r20751-6e9613844c`

`Linux version 5.15.69 (ansuel@Ansuel-xps) (mipsel-openwrt-linux-musl-gcc (OpenWrt GCC 12.2.0 r20746-a67f484e67) 12.2.0, GNU ld (GNU Binutils) 2.38) #0 SMP Sun Sep 25 14:07:16 2022`

b

[2022-10-15 18:13] andreagdipaolo commented on #74
Same issue here, the 5040 probe is correctly recognised as online but not sending data.
Router running for 3 days with 200M free RAM.
Probe never delivered any result.

Target Platform	ramips/mt7621
Firmware Version	OpenWrt 22.03.0 r19685-512e76967f / LuCI openwrt-22.03 branch git-22.245.77528-487e58a

[code]

Available for further testing.

[2022-10-17 12:11] andreagdipaolo commented on #74
Hi Michel,
I was using a stable release, 2022.03, I was not using a snapshot. Are you referring to me, to Ansuel or to both of us?

Yesterday I updated to 22.03.2 test release and I encounter the same issue.
Do you mean we should downgrade to 2021.02?

Thanks
Andrea

[2022-10-17 13:20] michel-stam commented on #74
Hey Andrea,

Sorry I thought I was responding to Ansuel, but thank you for testing with a stable release of OpenWRT.

It seems you're using the public OpenWRT package, which has changed the internals somewhat from the version RIPE NCC develops in-house. I cannot guarantee its function, sorry. That being said, I'm not unwilling to help, I'll do what I can.

Looking at the logfile:
[code]

eperd is

[2022-10-17 13:52] Ansuel commented on #74
Just to add some info... from master and 22.03 there are not many difference related to this package (but i understand you want info from stable build)

could be that crond is trying to find a home directory for root but he is not finding it? no idea how it works internally but i agree that we should understand where that comes from...

from the scripts the base_dir is set to /usr/libexec/atlas-pr

[2022-10-17 14:13] michel-stam commented on #74
Hi Ansuel,

Difficult to say. The author of the package wrote his own scripts around the atlas startup process, which doesn't seem to work perfectly. The existing process in the RIPE NCC version isn't perfect either, and will be looked at at some point in the future. Not that that helps you right now.

The code indeed seems to reference /home/atlas (probe-busybox/include/libbb.h), which as you sug

[2022-10-17 14:20] Ansuel commented on #74
Main problem is that with the workaround in place still we have

[code]

and now data/new/main is empty :(

[2022-10-17 14:34] Ansuel commented on #74
@michel-stam ok can confirm that both eperd and perd crash with the following command

these are the main cron program and because of this nothing is send as the periodical cron are not run... the process is not restored so the probe is leaved in this unstable state where it's registered but it does nothing. Fun thing is that as they crash, the pid is still there. (would be an idea to add some che

[2022-10-17 14:47] michel-stam commented on #74
Hi Ansuel,

Thanks for the help, appreciate it.

We actually added a restart functionality in 5060, and fixed some issues in 5070 with that. However, if the process continuously crashes that isn't gonna help a lot, it will just restart it over and over.

Do you have the option of running the perd and eperd process through strace to see where the crash occurs? I'm half expecting some directory or p

[2022-10-17 14:49] Ansuel commented on #74
is a debug build needed or i can just running the command with strace?

[2022-10-17 15:05] Ansuel commented on #74
also running

`strace ./condmv -A "RESULT 9901 ongoing" /home/atlas/data/new/main /home/atlas/data/out/main`

I have

[code]

[2022-10-17 15:17] Ansuel commented on #74
Is it normal that the descriptor is 3 on writing file??
`open("/home/atlas/data/new/main", O_WRONLY|O_CREAT|O_APPEND|O_LARGEFILE, 0666) = 3`

[2022-10-17 15:58] Ansuel commented on #74
@michel-stam found the cause of the seg fault....
it's in mytime_t that changed type and should be casted with %llu instead of %lu... notice this by checking compilation warning... with this fixed, condmv doesn't crash...

preparing a pr for stable ripe-busybox...

[2022-10-17 16:22] michel-stam commented on #74
All of these commands share the same codebase (a derivative of busybox), so it may be some common code.

As to your second question, the -A seems to add a record to the source file prior to renaming to the second file. That record contains the argument to -A. So this seems to be normal.

I've executed the command on the MIPS probe I have next to me:
[code]

As you can see the interesting happens a

[2022-10-17 16:33] Ansuel commented on #74
Ok yes can confirm that with the custom busybox data are finally sent and nothing crash anymore

[2022-10-17 16:38] andreagdipaolo commented on #74
After replacing the original busybox with the one provided by @Ansuel it's working fine.

[2022-10-19 08:01] michel-stam commented on #74
Hi Ansuel,

I saw that the pr converts time to unsigned long long in some cases, and long long in others. Can you cast everything to unsigned long long?

I will take the patch in when reworked and test it here on a couple of platforms as well.

Regards,

Michel

[2022-10-19 14:40] Ansuel commented on #74
@michel-stam OK i should have replaced the mixed cast everywhere with unsigned long long and %llu

[2022-10-20 17:59] Ansuel commented on #74
@michel-stam btw are these spike normal?
![image](https://user-images.githubusercontent.com/20289090/197023566-6a2b047b-fc26-4639-94fe-b29ce95b32f0.png)

[2022-10-20 18:12] andreagdipaolo commented on #74
Mine are even crazier 😅

![image](https://user-images.githubusercontent.com/49479876/197025977-99078857-95b2-427b-804d-ca590d4970eb.png)

[2022-10-20 18:15] robert-kisteleki commented on #74
Please note the graphs show the network traffic for the host, not only the part sent/received by the probe software, so those peaks likely belong to your (or your OS's) activity. A typical probe has some single-digit kbit/s traffic

[2022-11-08 12:39] alexdelprete commented on #70
Hi Michel, any updates on this?

[2022-11-09 14:34] alexdelprete commented on #70
Hi Michel, no problem at all, and thank you very much for the update. :)

[2022-11-10 10:45] michel-stam commented on #70
Hi Alex,

Software has just been pushed!

Cheers,

Michel

[2022-11-10 10:45] #73 closed

[2022-11-10 10:47] michel-stam commented on #72
hello @kotenok2000

We are looking at which package formats to support in the future. This may include RHEL as well, but no guarantees yet.
For now, Centos7 and 8 are supported and we are looking at our next step as these will be discontinued in the near future.

Cheers,

Michel

[2022-11-10 10:52] #27 closed

[2022-11-10 11:58] Tuffiglig commented on #70
Updated one of my software probes.
Seems to work :-)
https://atlas.ripe.net/probes/1000249/

The file [CHANGES.rst](https://github.com/RIPE-NCC/ripe-atlas-software-probe/blob/master/CHANGES.rst) is not updates.
Last entry is for Version 5040

[2022-11-10 11:58] #70 closed

[2022-11-10 12:08] alexdelprete commented on #70
Thanks a lof Michel. :)

[2022-11-10 12:48] michel-stam commented on #70
CHANGES.rst was indeed not updated, made an issue out of it. We're looking to put the changelog in a single place, its in about 4 places at the moment.

Please find it here for now (this will change in the near future):
[https://atlas.ripe.net/resources/announcements/](https://atlas.ripe.net/resources/announcements/)

[2022-11-10 14:11] alexdelprete opened #75 "REST API for the connection status of the probe"
Hi,

on the webpage of the probe, there's a status tab which provides the conenction status of the probe.

![image](https://user-images.githubusercontent.com/7027842/201113560-9a735d1e-3f27-46d8-aeab-664308967fd5.png)

I'd like to know if there's a REST API for that status so that we can integrate the status of the probe in a management system. I took a look at REST API list but couldn't find me,

[2022-11-11 16:43] kotenok2000 commented on #72
Rocky linux 8 will be supported untill 2029

[2022-11-18 23:01] rennyleal opened #76 "Software probe stops measuring"
Hi. Recently I've registered successfully a software probe but I'm having an issue with it. All of the sudden the probe, even though is up, it stops measuring, deletes some tags and stays so until I cicle stop/disable/enable/start the service. There is no apparently useful messages in the log file.

Also, I see an interesting difference compared with my old hardware probe. It uses a lot of bandwid

[2022-11-19 00:27] gcovain commented on #76
Hi,
The bandwith thing might be a false positive : the traffic reported is not the one generated by measurements but the traffic for the host, so in the case of software probe if it is not running in some sort of container (like docker) then you get numbers about the total traffic flowing through your router.

[2022-11-21 13:42] michel-stam commented on #75
Hi @alexdelprete,

I will answer this for you, but this GIT relates to the software probe code, not to the user interface.

Is this what you're looking for?
https://atlas.ripe.net/api/v2/probes/60047/

Where 60047 is the probe id; it returns JSON formatted code which contains an object called "status".

Regards,

Michel

[2022-11-21 13:46] rennyleal commented on #76
Hi Michel

No problem, you can close it now

Regards

El 21 nov. 2022 9:34 a. m., michel-stam ***@***.***> escribió:

Hello Renny,

If you don't mind I will close the ticket here, you have a ticket open via ***@***.******@***.***>

Let me know.

Regards,

Michel

—
Reply to this email directly, view it on GitHub<https://github.com/RIPE-NCC/ripe-atlas-software-probe/issues/76#issuecomment-132207425

[2022-11-21 13:48] #76 closed

[2022-11-21 17:27] alexdelprete commented on #75
Michel, thanks a lot for the info. I don't know why but I wasn't able to find the relevant docs, now I found it: https://atlas.ripe.net/docs/apis/rest-api-reference/#probes

BR,

Alessandro

[2022-11-21 17:27] #75 closed

[2022-11-24 21:54] Zeik0s commented on #69
Create and add this line (with 8081 as example) in `/var/atlas-probe/state/config.txt`

`HTTP_POST_PORT=8081`